@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.top-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 5px 240px 20px 240px;
    font-family: 'Roboto';
}

.section1-container {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
}

.content-left {
    /* flex: 1; */
    flex-wrap: wrap;
    max-width: 450px;
    /* background-color: aquamarine; */
}

.content-right {

}

button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 26px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB
}

.section2 {
    background-color: aquamarine;
}

.section3 {
    background-color: burlywood;
}

.section4 {
    background-color: aquamarine;
}

.footer {
    background-color: darkorange;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a {
    font-weight:400;
}